<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<f:loadBundle basename="messages" var="m" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>.:: #{m['template.titulo']} ::.</title>
	<!--[if lt IE 9]>
	    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<link href="Content/css/style.css" rel="stylesheet" type="text/css" />
	<link href="Content/css/skin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript"
		src="Scripts/modernizr/modernizr.custom.js"></script>
	<link rel="shortcut icon" href="img/logo.ico" />
</h:head>

<f:event listener="#{seguridadViewHandler.isAdmin}" type="preRenderView" />

<!-- Para que controle el maximo de inactividad -->
<p:idleMonitor onactive="sessionTimeOutDialog.show();"
	timeout="#{session.maxInactiveInterval * 1000}" />
<p:dialog header="#{m['template.cabeceraCaducada']}"
	widgetVar="sessionTimeOutDialog" modal="true" closable="false"
	width="400" visible="false">
	<h:outputText value="#{m['template.mensajeCaducada']}" />
	<input id="confirmBackToLogin" type="button"
		value="#{m['template.botonCaducada']}"
		onclick="window.location = '#{facesContext.externalContext.requestContextPath}/index.xhtml';" />
</p:dialog>
<!-- ================================================== -->

<p:ajaxStatus onstart="PF('statusDialog').show()"
	onsuccess="PF('statusDialog').hide()" />
<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
	closable="false" resizable="false" showHeader="false">
	<img src="img/ajax-loader.gif" />
</p:dialog>

<h:body class="skin-gym bar-white">
	<section class="wrap-ui">

		<header class="header">
			<div class="pull-left">
				<div class="logo-data"></div>
			</div>
			<div class="pull-right">
				<div class="pull-left comp-btn-user">
					<button id="btnGroupDrop2" type="button" class="btn">
						<span class="ico-user"></span> <span class="name">Henry</span>
					</button>
				</div>
				<div class="pull-left">
					<a href="#"></a>
					<h:form id="frmCerrarSesion">
						<p:commandLink id="linkCerrarSesion" actionListener="#{sesionController.cerrarSesion}" ajax="false" class="btn-salir" />
						<p:tooltip id="toolTipFade" for="linkCerrarSesion" value="#{m['template.cerrarSesion']}" position="bottom" />
					</h:form>
				</div>
			</div>
		</header>

		<div class="menu">
			<div class="btn-show"></div>
			<a class="logo" href="#"> 
				<img src="Content/images/system/img.png" alt="Logo" />
			</a>
			<nav class="nav">
				<ul class="nav-wrap">
					<li class="nav-01">
						<span class="list-collapse">Mod. de Almacén <i class="ico-collapse"></i>
						</span>
						<ul class="nav-collapse">
							<li class="nav-02"><p:link outcome="mntAdmCategoria" value="Mnt. de Categoría" /></li>
							<li class="nav-02"><p:link outcome="mntAdmProducto" value="Mnt. de Productos" /></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>

		<div class="wrap-content">
			<div class="pull-main-content">
				<div class="main-content view-wrap">
					<div class="content-body">
						<ui:insert name="body" />
					</div>
					<footer class="login inter-foot">
						<div class="row">
							<div class="col-sm-12">
								<p class="pull-left">Visor de Almacén © Todos los derechos reservados </p>
								<ul class="pull-right">
									<li class="title">Powered by Henry </li>
								</ul>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</div>
		<div class="up-page upPage">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</div>
	</section>
	<script type="text/javascript" src="Scripts/bootstrap-jquery-ui/js/bootstrap.js"></script>
	<script type="text/javascript" src="Scripts/app/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="Scripts/app/common.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".box-actividad").mCustomScrollbar({
				setHeight:460,
			    theme:"dark-3",
			    theme:"inset-2-dark"
			    //scrollbarPosition:"outside"
			});
			$('[data-toggle="tooltip"]').tooltip();
			generales();
		});
	
		$(document).ready(function () {
			$(".btn-show").addClass('active');
			$(".menu").css({left:'-185px'})
			});
	</script>
</h:body>
</html>